.product{
    margin-top: 1rem;
    .card{
        img{
           height: 15rem;
           padding: 0.7rem; 
        }
        .card-body{
            .product-desc{
                height: 7rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .card-title{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.btn-warning{
    background:#212529;
    border-color: #212529;
    color: #fff;
}
.btn-warning:hover{
    background:#99cc00;
    border-color: #99cc00;
    color: #212529;
}
