<main>
  <div class="container hero-section">
    <div class="row">
      <div class="col-lg-6 order-lg-2">
        <img
          src="assets/images/hero.jpg"
          class="img-fluid hero-image"
          alt="Techtown Hero Image"
        />
      </div>
      <div class="col-lg-6 order-lg-1">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 heads">
          "TECHTOWN" - House Rental Solution
        </h1>
        <p class="lead">
          Tech Town Rentals connects you with spaces where technology meets
          lifestyle. Find your ideal tech-savvy sanctuary and embrace a living
          experience tailored for the digital age.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button
            type="button"
            class="btn btn-primary btn-lg px-4 me-md-2"
            routerLink="/seller/product"
          >
            Properties
          </button>
          <button
            type="button"
            class="btn btn-success btn-lg px-4"
            routerLink="/buyer-dashboard"
          >
            Book Now
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <h1>OUR FEATURED HOUSES</h1>
  </div>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="/assets/images/pexels-binyaminmellish-1396132.jpg"
              alt="Image Description"
            />
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">View</button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-warning"
                    routerLink="/buyer-dashboard"
                  >
                    Book
                  </button>
                </div>
                <small class="text-body-secondary"
                  ><strong>$ 320</strong></small
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/images/t2.jpg" alt="Image Description" />
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">View</button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-warning"
                    routerLink="/buyer-dashboard"
                  >
                    Book
                  </button>
                </div>
                <small class="text-body-secondary"
                  ><strong>$ 320</strong></small
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="/assets/images/pexels-binyaminmellish-1396132.jpg"
              alt="Image Description"
            />
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">View</button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-warning"
                    routerLink="/buyer-dashboard"
                  >
                    Book
                  </button>
                </div>
                <small class="text-body-secondary"
                  ><strong>$ 320</strong></small
                >
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/images/t2.jpg" alt="Image Description" />
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">View</button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-warning"
                    routerLink="/buyer-dashboard"
                  >
                    Book
                  </button>
                </div>
                <small class="text-body-secondary"
                  ><strong>$ 320</strong></small
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="/assets/images/pexels-binyaminmellish-1396132.jpg"
              alt="Image Description"
            />
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">View</button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-warning"
                    routerLink="/buyer-dashboard"
                  >
                    Book
                  </button>
                </div>
                <small class="text-body-secondary"
                  ><strong>$ 320</strong></small
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/images/t2.jpg" alt="Image Description" />
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">View</button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-warning"
                    routerLink="/buyer-dashboard"
                  >
                    Book
                  </button>
                </div>
                <small class="text-body-secondary"
                  ><strong>$ 320</strong></small
                >
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img
              src="/assets/images/pexels-binyaminmellish-1396132.jpg"
              alt="Image Description"
            />
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">View</button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-warning"
                    routerLink="/buyer-dashboard"
                  >
                    Book
                  </button>
                </div>
                <small class="text-body-secondary"
                  ><strong>$ 320</strong></small
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/images/t2.jpg" alt="Image Description" />
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">View</button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-warning"
                    routerLink="/buyer-dashboard"
                  >
                    Book
                  </button>
                </div>
                <small class="text-body-secondary"
                  ><strong>$ 320</strong></small
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="/assets/images/pexels-binyaminmellish-1396132.jpg"
              alt="Image Description"
            />
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">View</button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-warning"
                    routerLink="/buyer-dashboard"
                  >
                    Book
                  </button>
                </div>
                <small class="text-body-secondary"
                  ><strong>$ 320</strong></small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="container hero-section">
  <div class="row">
    <div class="col-lg-6 order-lg-2">
      <img
        src="assets/images/t1.jpg"
        class="img-fluid hero-image"
        alt="Techtown Hero Image"
      />
    </div>
    <div class="col-lg-6 order-lg-1">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 heads">
        "WHY TECHTOWN"?
      </h1>
      <p class="lead">
        Tech Town Rentals connects you with spaces where technology meets
        lifestyle. Find your ideal tech-savvy sanctuary and embrace a living
        experience tailored for the digital age.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button
          type="button"
          class="btn btn-primary btn-lg px-4 me-md-2"
          routerLink="/seller/product"
        >
          Book Now
        </button>
        <button
          type="button"
          class="btn btn-success btn-lg px-4"
          routerLink="/buyer-dashboard"
        >
          Contact Us
        </button>
      </div>
    </div>
  </div>
</div>

<div id="container">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-lg-4">
            <div id="card">
              <div class="box front">
                <img src="assets/images/m1.jpg" alt="" />
                <h2>Michael Tekie</h2>
                <h4>CEO, Rakuten</h4>
                <p class="socials">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-twitter"></i>
                  <i class="fa fa-instagram"></i>
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
              <div class="box back">
                <span class="fa fa-quote-left"></span>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Placeat fugit neque necessitatibus atque, ipsa delectus in
                  quidem obcaecati? Porro reprehenderit magnam temporibus eum
                  nisi, asperiores fugit adipisci ea. Odio, laudantium!
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div id="card">
              <div class="box front">
                <img src="assets/images/m1.jpg" alt="" />
                <h2>Michael Tekie</h2>
                <h4>CEO, Rakuten</h4>
                <p class="socials">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-twitter"></i>
                  <i class="fa fa-instagram"></i>
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
              <div class="box back">
                <span class="fa fa-quote-left"></span>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Placeat fugit neque necessitatibus atque, ipsa delectus in
                  quidem obcaecati? Porro reprehenderit magnam temporibus eum
                  nisi, asperiores fugit adipisci ea. Odio, laudantium!
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div id="card">
              <div class="box front">
                <img src="assets/images/m1.jpg" alt="" />
                <h2>Michael Tekie</h2>
                <h4>CEO, Rakuten</h4>
                <p class="socials">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-twitter"></i>
                  <i class="fa fa-instagram"></i>
                  <i class="fa fa-linkedin"></i>
                </p>
              </div>
              <div class="box back">
                <span class="fa fa-quote-left"></span>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Placeat fugit neque necessitatibus atque, ipsa delectus in
                  quidem obcaecati? Porro reprehenderit magnam temporibus eum
                  nisi, asperiores fugit adipisci ea. Odio, laudantium!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div id="card">
          <div class="box front">
            <img src="assets/images/m1.jpg" alt="" />
            <h2>Michael Tekie</h2>
            <h4>CEO, Rakuten</h4>
            <p class="socials">
              <i class="fa fa-facebook"></i>
              <i class="fa fa-twitter"></i>
              <i class="fa fa-instagram"></i>
              <i class="fa fa-linkedin"></i>
            </p>
          </div>
          <div class="box back">
            <span class="fa fa-quote-left"></span>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat
              fugit neque necessitatibus atque, ipsa delectus in quidem
              obcaecati? Porro reprehenderit magnam temporibus eum nisi,
              asperiores fugit adipisci ea. Odio, laudantium!
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div id="card">
          <div class="box front">
            <img src="assets/images/m1.jpg" alt="" />
            <h2>Michael Tekie</h2>
            <h4>CEO, Rakuten</h4>
            <p class="socials">
              <i class="fa fa-facebook"></i>
              <i class="fa fa-twitter"></i>
              <i class="fa fa-instagram"></i>
              <i class="fa fa-linkedin"></i>
            </p>
          </div>
          <div class="box back">
            <span class="fa fa-quote-left"></span>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat
              fugit neque necessitatibus atque, ipsa delectus in quidem
              obcaecati? Porro reprehenderit magnam temporibus eum nisi,
              asperiores fugit adipisci ea. Odio, laudantium!
            </p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
