<main>
  
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      
      <div class="col-lg-6 ">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">"TECHTOWN"- House Rental Solution.</h1>
        <p class="lead">Tech Town Rentals connects you with spaces where technology meets lifestyle. Find your ideal tech-savvy sanctuary and embrace a living experience tailored for the digital age.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" routerLink="/seller/product">Properties</button>
          <button type="button" class="btn btn-success btn-lg px-4" routerLink="/buyer-dashboard">Book Now</button>
        </div>
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="assets/images/hero.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="5000" height="5000" loading="lazy">
      </div>
    </div>
  </div>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/images/pexels-binyaminmellish-1396132.jpg" alt="Image Description">
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-primary"
                  >
                    View
                  </button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-warning"
                    routerLink="/buyer-dashboard"
                  >
                    Book
                  </button>
                </div>
                <small class="text-body-secondary"><strong>$ 320</strong></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/images/t2.jpg" alt="Image Description">
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-primary"
                  >
                    View
                  </button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-warning" 
                    routerLink="/buyer-dashboard"
                  >
                    Book
                  </button>
                </div>
                <small class="text-body-secondary"><strong>$ 320</strong></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/images/pexels-binyaminmellish-1396132.jpg" alt="Image Description">
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-primary"
                  >
                    View
                  </button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-warning" 
                    routerLink="/buyer-dashboard"
                  >
                    Book
                  </button>
                </div>
                <small class="text-body-secondary"><strong>$ 320</strong></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/images/t2.jpg" alt="Image Description">
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-primary"
                  >
                    View
                  </button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-warning"
                    routerLink="/buyer-dashboard"
                  >
                    Book
                  </button>
                </div>
                <small class="text-body-secondary"><strong>$ 320</strong></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/images/pexels-binyaminmellish-1396132.jpg" alt="Image Description">
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-primary"
                  >
                    View
                  </button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-warning"
                    routerLink="/buyer-dashboard"
                  >
                    Book
                  </button>
                </div>
                <small class="text-body-secondary"><strong>$ 320</strong></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/images/t2.jpg" alt="Image Description">
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-primary"
                  >
                    View
                  </button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-warning"
                    routerLink="/buyer-dashboard"
                  >
                    Book
                  </button>
                </div>
                <small class="text-body-secondary"><strong>$ 320</strong></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/images/pexels-binyaminmellish-1396132.jpg" alt="Image Description">
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-primary"
                  >
                    View
                  </button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-warning"
                    routerLink="/buyer-dashboard"
                  >
                    Book
                  </button>
                </div>
                <small class="text-body-secondary"><strong>$ 320</strong></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/images/t2.jpg" alt="Image Description">
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-primary"
                  >
                    View
                  </button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-warning"
                    routerLink="/buyer-dashboard"
                  >
                    Book
                  </button>
                </div>
                <small class="text-body-secondary"><strong>$ 320</strong></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            

            
            <img src="/assets/images/pexels-binyaminmellish-1396132.jpg" alt="Image Description">
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-primary"
                  >
                    View
                  </button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-warning"
                    routerLink="/buyer-dashboard"
                  >
                    Book
                  </button>
                </div>
                <small class="text-body-secondary"><strong>$ 320</strong></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="assets/images/t1.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="2000" height="1600" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">"WHY TECHTOWN"?</h1>
      <p class="lead">Tech Town Rentals connects you with spaces where technology meets lifestyle. Find your ideal tech-savvy sanctuary and embrace a living experience tailored for the digital age.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" routerLink="/contact-us">Contact Us</button>
        <button type="button" class="btn btn-success btn-lg px-4" routerLink="/buyer-dashboard">Book Now</button>
      </div>
    </div>
    
   
  </div>
  
</div>



